body {
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;
}

.panel {
    background-image: url(Assets/Backgrounds/bg04_Panel.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.topbar 
{
    background-image: url(Assets/Backgrounds/bg04_Panel.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#mainContainer {
    background-image: url(Assets/Backgrounds/bg04.jpg);
    background-size: cover;
    padding-top:60px;
}

#loginMask
{
    background-image:url(Assets/Backgrounds/bg04_Blur.jpg);
    background-size:cover;
}
#loadMask
{
    background-color:black;
}
#loginBox
{
    position:fixed;
    top:150px;
    left:50%;
    margin-left:-100px;       
    width:200px;
    text-align:center;    
}
#loginBox div
{
    padding:10px;
}
#loginBox input
{
    background-color:transparent;
    border:none;
    border-bottom:1px solid white;
    color:white;
}
#loginBox input:focus
{
    outline:none;
}